# VS Code
.vscode/
*.code-workspace

# Visual Studio / .NET
.vs/
.suo
.user
.userosscache
.sln.docstates
.vsidx
.bin
# Build outputs
config/
v17/
FileContentIndex/
ProjectEvaluation/

.vs
.vs
bin
bin
